body{
    background-color:rgb(120, 6, 0);
}

h1 {
    color:white;
    text-align:center;
    text-transform:uppercase;
    font-family:'Impact';
}

h3 {
    color:white;
    text-align:center
    font-family: 'Poiret One', cursive;
}
h4 {
    color:white;
    text-align:center;
    margin:0;
    font-family: 'Poiret One', cursive;
}
h5 {
    color:white;
    text-align:center;
    margin:0;
    font-family: 'Poiret One', cursive;
}
h2  {
    font-family: 'Poiret One', cursive;
    margin:0;
    text-align:center;
    color:white;
}
.finalstars {
    background-color:#B91F17;
}
.basketballisbestsport {
    background-color:#B91F17;
}
.basketballfavoritesport {
    background-color:#B91F17;
}

.container {
    
}
* {
    font-family: 'Poiret One', cursive;
}
li  {
   link text-decoration:none;
}
.navbar ul {
    border-radius:6px, 6px, 0px, 0px;
    font-family: 'Poiret One', cursive;
    position:absolute;
    width:100%;
    list-style-type:none;
    margin-top:1px;
}

.navbar li a {
    text-align: justify;
    background-color:520400;
    text-decoration:none;
    float:left;
    text-align:center;
    color:white;
    padding-left:0px;
    padding-right:-20px;
    font-family: 'Poiret One', cursive;
    font-size:30px;
    margin-left:6px;
    margin-top:24px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}

.navbar li a:hover {
    margin-top:30px;
    padding-bottom:8px;
    margin-top:16px;
}
.navbar li a:active {
    background:white;
}
.navbar li a:selected {
    background:white;
}